<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.dao.AdminDao">
	<select id="login" parameterType="java.lang.String" resultType="com.main.model.Admin">
		select * from t_admin where account =#{account}
	</select>
	<insert id="createAdmin" parameterType="com.main.model.Admin">
		insert into t_admin(id,account,password,permission,state) 
			values(#{id},#{account},#{password},#{permission},#{state})
	</insert>
</mapper>