<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace = "com.main.dao.ChannelDao">
	<resultMap type="com.main.model.Channel" id="all">
		<id column="id" property="id"/>
		<result column="channel_id" property="channel_id"/>
		<result column="channel_name" property="channel_name"/>
		<result column="bak" property="bak"/>
		<result column="downloads" property="downloads"/>
		<result column="update_time" property="update_time"/>
	</resultMap>
	<insert id="add" parameterType="com.main.model.Channel">
		insert into down_bar.t_channel(channel_id,channel_name,bak,downloads,update_time) 
			values(#{channel.channel_id},#{channel.channel_name},#{channel.bak},#{channel.downloads},
			#{channel.update_time})
	</insert>
	<select id="getList" parameterType="java.lang.Integer" resultMap="all">
		select * from down_bar.t_channel ORDER BY update_time DESC limit #{pageno},#{pagesize};
	</select>
	<select id="getTotal" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select COUNT(id ) from down_bar.t_channel
	</select>
	<delete id="delete" parameterType="int">
		DELETE from down_bar.t_channel where channel_id = #{id}
	</delete>
	<select id="getBeanById" parameterType="String" resultMap="all">
		select * from down_bar.t_channel where channel_id = #{id}
	</select>
	<select id="getListByName" parameterType="String" resultMap="all">
		select * from down_bar.t_channel where channel_name like '%${title}%'
	</select>
</mapper>