<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace = "com.main.dao.CommentDao">
	<resultMap type="com.main.model.Comment" id="full">
		<id column="comment_id" property="comment_id"/>
		<result column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="content" property="content"/>
		<result column="date_add" property="date_add"/>
		<result column="uid" property="uid"/>
		<result column="uname" property="uname"/>
		<result column="ip" property="ip"/>
		<result column="ip_addr" property="ip_addr"/>
		<result column="parent_id" property="parent_id"/>
		<result column="is_check" property="is_check"/>
		<result column="son" property="son"/>
		<result column="good" property="good"/>
		<result column="bad" property="bad"/>
	</resultMap>
	<resultMap type="com.main.model.Comment" id="simple">
		<id column="comment_id" property="comment_id"/>
		<id column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="content" property="content"/>
		<result column="date_add" property="date_add"/>
		<result column="uid" property="uid"/>
		<result column="uname" property="uname"/>
	</resultMap>
	<select id="getListByAppId" parameterType="String" resultMap="simple">
		select comment_id,id,type,content,date_add,uid,uname from app.appcms_comment where id =#{appId}
	</select>
	<insert id="add" parameterType="com.main.model.Comment">
		insert into app.appcms_comment (id,type,content,date_add,uid,uname,ip,ip_addr,parent_id,is_check,son,good,bad) 
		values(#{comment.id},#{comment.type},#{comment.content},#{comment.date_add},#{comment.uid},#{comment.uname},
		#{comment.ip},#{comment.ip_addr},#{comment.parent_id},#{comment.is_check},#{comment.son},#{comment.good},#{comment.bad})
	</insert>
	<!-- <select id="getTotalApp" resultType="java.lang.Integer">
		select COUNT(app_id ) from app.appcms_app_list
	</select>
	<select id="getAppListByAppName" parameterType="String" resultMap="idAndTitle">
		select app_id,app_title,app_logo from app.appcms_app_list where app_title like '%${appName}%'
	</select>
	<select id="getAppByAppId" parameterType="Integer" resultMap="idAndTitle">
		select app_id,app_title,app_logo from app.appcms_app_list where app_id = #{app_id}
	</select>
	<select id="getAppByAppIdStr" parameterType="List" resultMap="appResult">
		select app_id,last_cate_id,app_title,app_version,app_update_time,app_size,app_desc,app_logo,
		 app_grade,app_visitors,app_down,app_order from app.appcms_app_list where app_id in (${idString})
	</select> -->
<!-- 	<insert id="getAppList" parameterType = "com.main.model.User">
		insert into t_user(uid,username,password,token,phone,nickname,icon,alipay,point) 
			values(#{uid},#{username},#{password},#{token},#{phone},#{nickname},#{icon},#{alipay},#{point})
	</insert>
	<select id="findById" parameterType = "int" resultType="com.main.model.User">
		select * from t_user where uid =#{uid}
	</select>
	<select id="findAll" resultType="com.main.model.User">
		select * from t_user
	</select> -->
</mapper>