<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace = "com.main.dao.InfoDao">
	<resultMap type="com.main.model.Info" id="full">
		<id column="info_id" property="info_id"/>
		<result column="parent_id" property="parent_id"/>
		<result column="last_cate_id" property="last_cate_id"/>
		<result column="info_title" property="info_title"/>
		<result column="info_img" property="info_img"/>
		<result column="info_visitors" property="info_visitors"/>
		<result column="info_desc" property="info_desc"/>
	</resultMap>
	<resultMap type="com.main.model.Info" id="infoBody">
		<id column="info_id" property="info_id"/>
		<result column="info_body" property="info_body"/>
		<result column="info_update_time" property="info_update_time"/>
		<result column="info_from" property="info_from"/>
	</resultMap>
	<select id="getInfoListByCateId" parameterType="int" resultMap="full">
		select info_id,parent_id,last_cate_id,info_title,info_img,info_visitors,info_desc
		from app.appcms_info_list  where last_cate_id =#{cateId} and info_img != '' ORDER BY info_update_time DESC limit #{pageNO},#{pageSize}
	</select>
	<select id="getInfoById" parameterType="int" resultMap="full">
		select info_title,info_body,info_update_time from app.appcms_info_list where info_id =#{infoId} 
	</select>
	<select id="getTotal"  parameterType="int" resultType="int">
		select count(info_id) from app.appcms_info_list where last_cate_id =#{cateId} and info_img != ''
	</select>
	<!-- <select id="getTotalApp" resultType="java.lang.Integer">
		select COUNT(app_id ) from app.appcms_app_list
	</select>
	<select id="getAppListByAppName" parameterType="String" resultMap="idAndTitle">
		select app_id,app_title,app_logo from app.appcms_app_list where app_title like '%${appName}%'
	</select>
	<select id="getAppByAppId" parameterType="Integer" resultMap="idAndTitle">
		select app_id,app_title,app_logo from app.appcms_app_list where app_id = #{app_id}
	</select>
	<select id="getAppByAppIdStr" parameterType="List" resultMap="appResult">
		select app_id,last_cate_id,app_title,app_version,app_update_time,app_size,app_desc,app_logo,
		 app_grade,app_visitors,app_down,app_order from app.appcms_app_list where app_id in (${idString})
	</select> -->
<!-- 	<insert id="getAppList" parameterType = "com.main.model.User">
		insert into t_user(uid,username,password,token,phone,nickname,icon,alipay,point) 
			values(#{uid},#{username},#{password},#{token},#{phone},#{nickname},#{icon},#{alipay},#{point})
	</insert>
	<select id="findById" parameterType = "int" resultType="com.main.model.User">
		select * from t_user where uid =#{uid}
	</select>
	<select id="findAll" resultType="com.main.model.User">
		select * from t_user
	</select> -->
</mapper>