<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.dao.RecommendDao">
	<resultMap type="com.main.model.Recommend" id="fullRecommend">
		<id column="recommend_id" property="recommend_id"/>
		<result column="recommend_type" property="recommend_type"/>
		<result column="recommend_title" property="recommend_title"/>
		<result column="recommend_logo" property="recommend_logo"/>
		<result column="appId" property="appId"/>
		<result column="sort" property="sort"/>
		<result column="update_time" property="update_time"/>
	</resultMap>
	<insert id="addRecommend" parameterType="com.main.model.Recommend">
		insert into t_recommend(recommend_type,recommend_title,recommend_logo,appId,sort,update_time) values 
		(#{recommend_type},#{recommend_title},#{recommend_logo},#{appId},#{sort},#{update_time})
	</insert>
	<select id="getRecommendListByType" parameterType="java.lang.Integer" resultMap="fullRecommend">
		select * from t_recommend where recommend_type = ${recommend_type} order by sort
	</select>
	<delete id="delRecommend" parameterType="java.lang.Integer">
		delete from t_recommend where recommend_id = ${recommend_id}
	</delete>
	<select id="getRecommendById" parameterType="java.lang.Integer" resultMap="fullRecommend">
		select * from  t_recommend where recommend_id = ${recommend_id}
	</select>
</mapper>