<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace = "com.main.dao.UserDao">
	<update id="update" parameterType="com.main.model.User">
		UPDATE t_user SET password = #{user.password},token = #{user.token},phone=#{user.phone},nickname=#{user.nickname},
			icon = #{user.icon},alipay=#{user.alipay},point=#{user.point} where username = #{user.username}
	</update>
	<select id="getUserByName" parameterType="String" resultType="com.main.model.User">
		select * from t_user where username = #{userName};
	</select>
	<insert id="save" parameterType = "com.main.model.User" >
		insert into down_bar.t_user(username,password,token,phone,nickname,icon,alipay,point,regist_time,update_time) 
			values(#{user.username},#{user.password},#{user.token},#{user.phone},#{user.nickname},#{user.icon},
			#{user.alipay},#{user.point},#{user.regist_time},#{user.update_time})
	</insert>
	<select id="findById" parameterType = "int" resultType="com.main.model.User">
		select * from t_user where uid =#{uid}
	</select>
	<select id="findAll" resultType="com.main.model.User">
		select * from t_user
	</select>
</mapper>